div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 5px;
}

#divTotal {
	display: inline-block;
}

#divCash {
	display: inline-block;
}

#divInvestment {
	display: inline-block;
}

